@{
    Layout = "~/Views/utilitarios/_LayoutPage.cshtml";
}

<div>
    @{
        ViewBag.Title = "Forestal";
    } 

    <video width="720" height="420" controls>
        <source src="~/assets/partesDendrometro.mov" type="video/mp4">
    </video>
</div>
